<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        .list-group-item-action {
            font-weight: bold; /* Make the font bold */
        }
        .list-group-item-action:hover {
            background-color: #add8e6; /* Light blue background on hover */
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Admin Panel</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="list-group">
                <a th:href="@{/users}" class="list-group-item list-group-item-action">Edit Users</a>
                <a th:href="@{/teacher/manage-cards}" class="list-group-item list-group-item-action">Edit Questions</a>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
