<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Optional: Bootstrap JS, Popper.js for features like dropdowns, modals, etc. -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1do4A+gf8k4lPXAz5wr+X4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDMZD" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container mt-5">
    <h2>Registration Form</h2>
    <form th:action="@{/exam/register}" method="post" class="mt-3">
        <div class="form-group">
            <label>
                <input type="text" class="form-control" name="firstName" placeholder="Enter your first name">
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" class="form-control" name="lastName" placeholder="Enter your last name">
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>

</body>
</html>
