<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Manage Cards and Questions</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container mt-4">

<!-- Link to Add a New Card -->
<div class="container mt-3">
    <a href="/teacher/add-card" class="btn btn-success">Add New Card</a>
</div>

<!-- List of all cards -->
<div th:each="card : ${cards}" class="mb-4">
    <div class="card-section card bg-light p-3 rounded">
        <!-- Card details -->
        <h3 class="mb-3" th:text="${card.name}"></h3>

        <!-- Card actions -->
        <div class="mb-3">
            <a th:href="@{/teacher/add-question/{cardId}(cardId=${card.id})}" class="btn btn-primary mr-2">Add Question</a>
            <a th:href="@{/teacher/update-card/{cardId}(cardId=${card.id})}" class="btn btn-warning mr-2">Edit Card</a>
            <a th:href="@{/teacher/delete-card/{cardId}(cardId=${card.id})}" class="btn btn-danger">Delete Card</a>
        </div>

        <!-- List questions associated with the card -->
        <div class="question-section" th:each="question : ${card.questions}">
            <!-- Question details -->
            <p th:text="${question.content}" class="font-weight-bold"></p>

            <!-- Question actions -->
            <div>
                <a th:href="@{/teacher/add-answer/{questionId}(questionId=${question.id})}" class="btn btn-secondary mr-2">Add Answer</a>
                <a th:href="@{/teacher/update-question/{questionId}(questionId=${question.id})}" class="btn btn-warning mr-2">Edit Question</a>
                <a th:href="@{/teacher/delete-question/{questionId}(questionId=${question.id})}" class="btn btn-danger mb-2">Delete Question</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
